/* Header Styles */
header {
  background-color: #333;
  color: #fff;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1140px;
  margin: 0 auto;
}

.logo-search {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 20px;
}

.logo a {
  display: block;
}

.logo img {
  width: 75px;
  height: 75px;
  margin-left: 20px;
  margin-right: 20px;
}

/* Navbar Styles */


/* .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar li {
  display: inline-block;
  position: relative;
  margin-right: 20px;
  position: relative;
}

.navbar a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 16px;
  padding: 5px 10px;
  width: 20%;
}

.navbar a:hover {
  background-color: #555;
  border-radius: 5px;
}

.submenu {
  display: none;
  position: absolute;
  background-color: #333;
  padding: 10px;
  top: 100%;
  left: 0;
  width: 200px;
  z-index: 1;
}

.submenu a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 5px;
}

.submenu a:hover {
  background-color: #c59191;
  border-radius: 5px;
}

.navbar .submenu a {
  color: #333;
}

.navbar .submenu {
  display: none;
  position: absolute;
  background-color: #c02727;
  color: #333;
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  z-index: 1;
  column-count: 2;
  column-gap: 20px;
}

.navbar li:hover .submenu {
  display: block;
}

.navbar input[type="text"] {
  padding: 5px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}


.navbar li a {
  width: 20%;
}


.navbar .submenu a {
  width: 100%;
}


.navbar .submenu a:last-child {
  width: 50%;
}

.navbar li:hover {
  background-color: #555;
}


.navbar li:hover .submenu {
  display: block;
}

.navbar li:hover .submenu a {
  color: #fff;
} */

/* Footer Styles */
.footer {
  background-color: white;
  color: black;
  padding: 10px 0;
}

.footer-container {
  max-width: 1140px;
  margin: 0 auto;
}

.footer-row {
  display: flex;
  justify-content: space-between;
}

.footer-section {
  flex: 0 0 25%;
  margin-bottom: 100px;
}

.footer-heading {
  font-size: 20px;
  margin-bottom: 50px;
  font-family: Roboto;
}

.footer-section a {
  color: black;
  text-decoration: none;
  display: block;
  font-size: 17px;
  font-family: Roboto;
  font-weight: 300;
}

.footer-end {
  margin-top: 50px;
  font-size: 13px;
  font-family: sans-serif;
  font-weight: 300; 
}

.footer-payment {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-payment img {
  margin: 0 10px; 
  margin-right: 60px;
  margin-bottom: 20px;
}


.footer-social {
  margin-top: 20px;
}

.footer-social a {
  display: inline-block;
  margin-right: 10px;
}

/* Back-to-top button Styles */
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  color: #fff;
  background-color: #7a7a7a;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  text-decoration: none;
}

.back-to-top.show {
  display: block;
}


